{% extends "layout.njk" %}

{% block content %}

<section class="product-single container">

  <div class="gallery">
    <img src="http://placehold.it/500x500?xtext=PRODUTO SEM FOTO" />
  </div>
  
  <div class="info">
    <h1>Computador</h1>
    <div class="publisehd">
      Publicado em 18/11 as 21h
    </div>

    <div class="description">
      jsajasjsajsajs asjajsajsajjsaja ajajsajsjsaj
    </div>

    <div class="price-buy">
      <div class="price">
        R$ 1.999,00
      </div>
      <div class="buy button">Comprar</div>
    </div>
  </div>

</section>
{% endblock content%}